.admintitle
{
    background-color: red;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    height: 140px;
    line-height: 140px;
}
.dashboard
{
    background-color: cyan;
    margin-left: 50px;
    margin-right: 50px;
    height: 170px;
    font-size: 25px;
}
